*{
    margin: 0px;
    padding: 0px;
}
body{

}
header{
    height: 100%;
    width: 100%;
    background: #11cef0;
    color: black;
}
#headersection1{
    font-size: 10px;
    display:flex;
    justify-content: right;
    list-style: none;
    padding: 5px;
    gap: 10px;
    color: black;
}
#list2{
    margin: 10px;
    font-size: 13px;
    display:flex;
    justify-content: right;
    gap: 10px;
    list-style: none;
    padding: 5px;
    color: black;
}
#kietlogo>img{
    width: 200px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{

}
header{
    height: 100%;
    width: 100%;
    background: #11cef0;
    color: black;
}
#headersection1{
    font-size: 10px;
    display:flex;
    justify-content: right;
    list-style: none;
    padding: 5px;
    gap: 10px;
    color: black;
}
#list2{
    margin: 10px;
    font-size: 13px;
    display:flex;
    justify-content: right;
    gap: 10px;
    list-style: none;
    padding: 5px;
    color: black;
}
#kietlogo>img{
    width: 200px;
}